<h2>Pet Store Create</h2>
<br>
<br>

<form action="/locations/create" method="post">
    <label for="nameInput">Store Name: <input id="nameInput" type="text" name="name"></label>
    <label for="streetAddressInput">streetAddress: 
        <input id="streetAddressInput" type="text" name="streetAddress">
    </label>
    <label for="cityInput">city: 
        <input id="cityInput" type="text" name="city">
    </label>
    <label for="stateInput">state: 
        <input id="stateInput" type="text" name="state" maxlength="2">
    </label>
    <label for="zipInput">zip: 
        <input id="zipInput" type="number" name="zip">
    </label>

    <button>Save</button>
</form>