<div class="home">

<h1 class="home-heading">Welcome To Ironbeers</h1>

<img class="beer" src="/images/beer.png" alt="a picture of beer">

<a href="/beers">
    <button>
        Check The Beers
    </button>
</a>

<a href="/random-beer">
    <button>
        See A Random Beer
    </button>
</a>

</div>