<h1>Add an Author to the Database</h1>

<form action="/authors/create" method="post">

<div>
    Name: 
    <input type="text" name="name">
</div>
<div>
    Hometown: 
    <input type="text" name="hometown">
</div>
<div>
    Date Of Birth: 
    <input type="text" name="birthday">
</div>

<div>
    Image url: 
    <input type="text" name="image">
</div>



    <button>Submit</button>
</form>