<h2>Create Page</h2>

<form action="/actor/create" method="post">
    <label for="actorFirstName">First Name: <input id="actorFirstName" type="text" name="firstName"></label>
    <label for="actorlastName">Last Name: <input id="actorlastName" type="text" name="lastName"></label>
    <label for="actorAge">Age: <input id="actorAge" type="number" name="age"></label>

    <button>Create</button>
</form>