

<h1>Add a New Beer to the Database</h1>


<form action="/create-beer" method="post">
<div>
    <label for="name">
        name
        <input name="beerName" type="text">
    </label>
    <label for="tagline">
        tagline
        <input name="tagline" type="text">
    </label>
    <label for="description">
        description
        <input name="description" type="text">
    </label>
</div>

<br><br>

<div>
    <label for="first_brewed">
        first brewed
        <input name="firstBrewed" type="text">
    </label>
    <label for="brewer_tips">
        brewer tips
        <input name="brewerTips" type="text">
    </label>
    <label for="attentuation_level">
        attentuation level
        <input name="attentuationLevel" type="number">
    </label>
    <label for="contributed_by">
        contributed_by
        <input name="contributedBy" type="text">
    </label>
</div>



    <button>Submit</button>
</form>