<h1>Add a Book to the Library</h1>

<form action="/books/create-new" method="post">

<div>
    Title: 
    <input type="text" name="title">
</div>
<div>
    Author: 
    <input type="text" name="author">
</div>
<div>
    Description: 
    <input type="text" name="description">
</div>
<div>
    Rating: 
    <input type="text" name="rating">
</div>



    <button>Submit</button>
</form>