<h2>Log In</h2>


<br>

<form action="/auth/login" method="post">
    <label for="emailInput">Email: <input type="email" name="email" id="emailInput" required></label>
    <label for="passwordInput">Password: <input type="password" name="password" id="passwordInput" required></label>

    <button>Log In</button>
</form>

<br>
<h3>{{message}}</h3>