<h2>Sign Up</h2>


<br>

<form action="/auth/signup" method="post">
    <label for="userNameInput">User Name: <input type="text" name="username" id="userNameInput" required></label>
    <label for="emailInput">Email: <input type="email" name="email" id="emailInput"></label>
    <label for="passwordInput">Password: <input type="password" name="password" id="passwordInput" required></label>

    <button>Sign Up</button>
</form>

<br>
<h3>{{message}}</h3>